/* Default Theme: theme-blue */

:root {
  --bg-color: rgb(198, 228, 228);
  --header-color: rgb(12, 45, 84);
  --header-bg-color: #b0d0d6;
  --font-color: rgb(8, 8, 8);
  --border-color: rgb(28, 135, 135);
  --box-color: rgb(210, 246, 253);
  --box-shadow: rgb(28, 135, 135);
  --theme-color: rgb(8, 154, 154);
  --theme-background:rgb(159, 192, 195);
}
:root.theme-blue {
  --bg-color: rgb(198, 228, 228);
  --header-color: rgb(12, 45, 84);
  --header-bg-color: #b0d0d6;
  --font-color: rgb(8, 8, 8);
  --border-color: rgb(28, 135, 135);
  --box-color: rgb(210, 246, 253);
  --box-shadow: rgb(28, 135, 135);
  --theme-color: rgb(8, 154, 154);
  --theme-background:rgb(159, 192, 195);
}

/* Theme: theme-black */
:root.theme-black {
  --bg-color: rgb(53, 52, 52);
  --header-color: rgb(255, 255, 255);
  --header-bg-color: rgb(88, 84, 84);
  --font-color: rgba(252, 249, 249, 0.998);
  --border-color: gray;
  --box-color: rgb(197, 197, 197);
  --box-shadow: rgb(8, 8, 8);
  --theme-color: rgb(6, 6, 6);
  --theme-background:rgb(156, 160, 161);
}
:root.theme-white {
  --bg-color: rgb(228, 227, 227);
  --header-color: rgb(41, 41, 40);
  --header-bg-color: rgb(226, 228, 221);
  --font-color: rgba(18, 17, 17, 0.998);
  --border-color: gray;
  --box-color: rgb(240, 241, 237);
  --box-shadow: rgb(83, 83, 81);
  --theme-color: rgb(253, 251, 251);
  --theme-background:rgb(203, 205, 205);
}

/* Theme: theme-red */
:root.theme-red {
  --bg-color: rgb(143, 74, 74);
  --header-color: white;
  --header-bg-color: darkred;
  --font-color: rgb(16, 7, 7);
  --border-color: darkred;
  --box-color: rgb(239, 162, 162);
  --box-shadow: darkred;
  --theme-color: rgb(225, 39, 39);
  --theme-background:rgb(201, 132, 132);
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container {
  margin: 100px auto;
  width: 350px;
}
.t{
  font-style: oblique;
}
.theme-switcher-container {
  position: absolute;
  left: 10px;
   color: var(--border-color);
 }
 .theme-dropdown {
   height: 25px;
   color: var(--border-color);
   width: 150px;
   font-size: 16px;
   border: 2px solid var(--border-color);
   border-radius: 4px;
   background-color: var(--box-color);
   box-shadow: 17px 15px 5px var(--box-shadow);
   cursor: pointer;
 }
.title{
  margin-top: 100px;
  font-size: xx-large;
  font-family:'Times New Roman';
  height: 60px;
  padding: 10px;
  border-radius: 50px;
  margin-left: 60px;
  width: 240px;
  font-style: italic;
  color:var(--header-color);
  background-color: var(--header-bg-color);
  box-shadow: 20px 18px 16px var(--box-shadow);
}
.bal{
   font-size:xx-large;
    font-style: oblique;
    font-family:'Times New Roman';
    text-align: center;
    height: 50px;
    color: var(--font-color);
    padding: 10px;
    border-radius: 50px;
    margin-left: 66px;
    width: 240px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: var(--font-color);
}

h3 {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  margin: 40px 0 10px;
  color: var(--font-color);
}

h4 {
  margin: 0;
  text-transform: uppercase;
  color: var(--font-color);
}

.inc-exp-container {
  background-color: var(--box-color);
  box-shadow: 20px 18px 25px   var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 3px solid #040000;
}

.money {
  font-size: 23px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 3px solid  var(--border-color);
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: var(--border-color);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;

  transition: transform 0.7s ease, opacity 1.2s ease, ;
  transform: translateX(0);
  opacity: 0;
}
.list li.slide-in {
  transform: translateX(25px);
  opacity:1;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}
.list li.plus:hover{
  background-color: rgb(81, 235, 171);
  transform: scale(1.05);
}

.list li.minus {
  border-right: 5px solid #c0392b;
}
.list li.minus:hover{
  background-color: rgb(238, 140, 140);
  transform: scale(1.05);
}

.delete-btn {
  cursor: pointer;
  background-color: #77180e;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.theme-label{
  margin-left: 40px;
  color: var(--theme-color);
  
}


