/* Default Theme */
:root {
  --background-color: rgb(193, 131, 205);
  --gradient-color-start: rgb(204, 140, 216);
  --gradient-color-end: rgb(103, 58, 183);
  --border-color: rgb(53, 5, 61);
  --box-color: rgb(179, 118, 176);
  --box-shadow: rgba(48, 39, 46, 0.3);
}

/* Blue Theme */
.theme-blue {
  --background-color: rgb(135, 206, 235);
  --gradient-color-start: rgb(135, 206, 250);
  --gradient-color-end: rgb(0, 191, 255);
  --border-color: rgb(0, 0, 139);
  --box-color: rgb(173, 216, 230);
  --box-shadow: rgba(0, 0, 139, 0.3);
}

/* Dark Theme */
.theme-black {
  --background-color: rgb(34, 34, 34);
  --gradient-color-start: rgb(137, 135, 135);
  --gradient-color-end: rgb(53, 51, 51);
  --border-color: rgb(52, 51, 51);
  --box-color: rgb(96, 96, 96);
  --box-shadow: rgba(11, 11, 11, 0.712);
}

/* Voilet Theme */
.theme-voilet {
  --background-color: rgb(148, 0, 211);
  --gradient-color-start: rgb(186, 85, 211);
  --gradient-color-end: rgb(75, 0, 130);
  --border-color: rgb(139, 0, 139);
  --box-color: rgb(204, 102, 204);
  --box-shadow: rgba(139, 0, 139, 0.3);
}

/* Pink Theme */
.theme-pink {
  --background-color: rgb(255, 192, 203);
  --gradient-color-start: rgb(255, 182, 193);
  --gradient-color-end: rgb(255, 105, 180);
  --border-color: rgb(219, 112, 147);
  --box-color: rgb(255, 182, 193);
  --box-shadow: rgba(219, 112, 147, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, var(--gradient-color-start), var(--gradient-color-end));
  animation: gradientAnimation 5s ease infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-color: var(--background-color);
  }
  100% {
    background-color: var(--gradient-color-end);
  }
}

.theme-switcher-container {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--border-color);
}

.theme-dropdown {
  height: 25px;
  color: var(--border-color);
  width: 150px;
  font-size: 16px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--box-color);
  box-shadow: 17px 15px 5px var(--box-shadow);
  cursor: pointer;
}

.appname {
  font-size: 50px;
  margin-top: 70px;
  font-family: 'New Romans Times';
  font-style: italic;
  color: var(--border-color);
  box-shadow: 30px 20px 9px var(--box-shadow);
  background-color: var(--box-color);
  border-radius: 6px;
  padding: 10px;
}

.first_block {
  margin-top: 500px;
  margin-bottom: 500px;
  height: 400vh;
}

.sec_block {
  height: 300px;
  width: 350px;
  border-radius: 20px;
  border-color: blueviolet;
}

.undolist {
  margin-top: auto;
  margin-bottom: 20px;
  position: relative;
}

.listdiv {
  max-height: 500px;
  width: 500px;
  overflow-y: auto;
  background-color: var(--box-color);
  border: 5px solid var(--box-shadow);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 50%;
  right: 30%;
  margin-bottom: 300px;
}

.inputbox {
  margin-top: 23%;
  top: 30%;
  width: 300px;
  height: 50px;
  border-radius: 40px;
  border-width: 20px;
  border: 5px solid var(--border-color);
  padding: 10px;
  font-family: 'Franklin Gothic Medium';
  font-size: large;
  box-shadow: 20px 20px 10px var(--box-shadow);
  cursor: auto;
}

.addbutton {
  height: 30px;
  width: 30px;
  padding-left: 7px;
  padding-top: 4px;
  font-size: large;
  text-align: center;
  font-weight: bolder;
  background-color: var(--box-color);
  transition: 0.4s;
  box-shadow: 15px 8px 5px var(--box-shadow);
  cursor: pointer;
}

.addbutton:hover {
  transform: scale(1.5);
  color: var(--border-color);
}

.listitems {
  background-color: var(--box-color);
  border: 5px solid var(--border-color);
  position: relative;
  border-radius: 5px;
  font-size: large;
  padding: 5px;
  padding-left: 5px;
  width: 450px;
  height: 60px;
  margin-top: 10px;
  box-shadow: 15px 8px 5px var(--box-shadow);
  transition: transform 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
  transform: translateX(0);
  opacity: 1;
}

.listdiv.zoom-in {
  transform: scale(1.2);
}

.listdiv.zoom-out {
  transform: scale(0.8);
}

.listitems.slide-in {
  transform: translateX(-100%);
  margin-left: -100%;
  opacity: 0;
}

.emptylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 27px;
  width: 90px;
  top: 100px;
  left: 400px;
  font-size: medium;
  font-family: 'Franklin Gothic Medium';
  text-align: center;
  background-color: var(--box-color);
  transition: 0.4s;
  box-shadow: 15px 8px 5px var(--box-shadow);
  cursor: pointer;
}

.emptylist:hover {
  transform: scale(1.5);
  color: var(--border-color);
}

.icons {
  position: absolute;
  right: 10px;
}

.icons i {
  margin: 4px;
  font-size: large;
  cursor: grab;
  transition: 0.1s;
}

.icons i:hover {
  transform: scale(1.5);
  color: rgb(183, 35, 60);
}

.calendar {
  background-color: var(--box-color);
  cursor: pointer;
}

.calendar:hover {
  transform: scale(1.3);
  color: rgb(206, 25, 164);
}
